.buttons .contact-button {
    background-color: rgb(var(--color-secondary));
}

.buttons .download-cv-button {
    border: 3px solid rgb(var(--color-secondary));
}

.profil {
    animation: anim 1.5s infinite alternate ease-in-out;
}

@keyframes anim {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: rotateY(15px);
    }
}